@media screen and (min-width: 270px) and (max-width: 480px) {

    .wrapper {
        height: 460px;
    }

    .welcome_area .welcome-left_side {
        width: 254px;
        padding: 46px 0px 0px 15px;
    }

    .welcome_area .welcome-left_side .frist-h2 {
        font-size: 22px;
        margin: 140px 0px -20px 38px;
    }

    .welcome_area .welcome-left_side h2 {
        font-size: 19px;
        padding-bottom: 5px;
    }

    .welcome_area .welcome-left_side h4 {
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 13px;
    }

    .welcome_area .welcome-left_side p {
        text-align: justify;
        font-family: "Hind Siliguri", "cursive";
        font-weight: 500;
        color: rgb(58, 57, 57);
        font-size: 12px;
    }


    .welcome_area .welcome-left_side button {
        border: none;
        outline: none;
        background-image: linear-gradient(90deg, rgb(253, 180, 155), rgb(253, 60, 21));
        padding: 2px 20px;
        border-radius: 4px;
        margin-top: 10px;
    }

    .welcome_area .welcome-left_side button a {
        color: white;
        font-family: "Hind Siliguri", "cursive";
        font-size: 12px;
        font-weight: 500;
    }

    .welcome_area .welcome-right_side {
        width: 160px;
        padding: 0px 0px 0px 0px;
        height: 160px;
        position: absolute;
        left: 50px;
        top: 20px;
    }

    .dream {
        width: 100%;
        min-height: 500px;
        overflow: hidden;
    }

    .dream .dream_left-side {
        width: 270px;
        height: auto;
        padding: 0px;
        position: absolute;
        left: 50px;
        bottom: -150px;
    }

    .dream .dream_left-side img {
        width: 160px !important;
        height: 160px !important;
    }

    .dream .dream_right-side {
        width: 254px;
        padding: 190px 12px 45px 0px;
    }

    .dream .dream_right-side h2 {
        font-size: 19px;
        padding-bottom: 4px;
    }

    .dream .dream_right-side h4 {
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 13px;
    }

    .dream .dream_right-side p {
        text-align: justify;
        font-weight: 500;
        color: #3a3939;
        font-size: 12px;
    }

    .dream .dream_right-side button {
        border: none;
        outline: none;
        background-image: linear-gradient(90deg, rgb(253, 180, 155), rgb(253, 60, 21));
        padding: 3px 20px;
        border-radius: 4px;
        margin-top: 10px;
    }

    .dream .dream_right-side button a {
        color: white;
        font-family: "Hind Siliguri", "cursive";
        font-size: 12px;
        font-weight: 500;
    }

    .wrapper1 img {
        width: 30px;
        min-height: 30px;
        position: absolute;
        padding: 60px 0px 0px;
        z-index: -1;
    }

    .experience {
        width: 254px;
        min-height: 580px;
        overflow: hidden;
    }

    .experience h2 {
        font-size: 19px;
        padding: 0px 0px 6px 8px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .experience .experience_left-side {
        width: 250px;
        height: 220px;
        margin-left: 0px;
        box-shadow: gray -1px 3px 12px;
        padding: 30px 5px 30px 5px;
        border-left: 4px solid;
        border-image: linear-gradient(lightsalmon, tomato) 1 / 1 / 0 stretch;
        border-radius: 6px;
    }

    .experience .experience_left-side h2 {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .experience .experience_left-side h4 {
        font-weight: 600;
        font-size: 13px;
    }

    .experience .experience_left-side p {
        text-align: justify;
        font-weight: 500;
        color: #3a3939;
        font-size: 12px;
    }

    .experience .experience_right-side {
        margin: 35px 4px 0px 0px;
        width: 250px;
        height: 220px;
        box-shadow: gray 3px 3px 12px;
        padding: 24px 5px 30px 5px;
        border-left: 4px solid;
        border-image: linear-gradient(blue, cyan) 1 / 1 / 0 stretch;
        border-radius: 6px;
    }

    .experience .experience_right-side h2 {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 6px;
    }

    .experience .experience_right-side h4 {
        font-weight: 600;
        font-size: 13px;
    }

    .experience .experience_right-side p {
        text-align: justify;
        font-weight: 500;
        color: #3a3939;
        font-size: 12px;
    }

    footer {
        background-color: rgb(228, 225, 225);
        padding: 10px;
        border-radius: 0px;
    }

    footer p {
        color: rgb(58, 57, 57);
        text-align: center;
        font-size: 12px;
    }
}